@page "/books"
@using BookRegistry.Shared
@using BookRegistry.Client.Services
@inject IBookService BookService
@inject NavigationManager NavigationManager

<PageTitle>Books</PageTitle>

<h1>Books</h1>

<p>
    <a href="book/create" class="btn btn-primary">Create New</a>
</p>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publish Date</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.PublishDate.ToShortDateString()</td>
                    <td>@book.ISBN</td>
                    <td>
                        <a href="book/edit/@book.Id" class="btn btn-secondary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteBook(book.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Book>? books;

    protected override async Task OnInitializedAsync()
    {
        await LoadBooks();
    }

    private async Task LoadBooks()
    {
        books = await BookService.GetBooks();
    }

    private async Task DeleteBook(int id)
    {
        await BookService.DeleteBook(id);
        await LoadBooks();
    }
}
