<div class="nav-menu-container">
    <div class="brand-header">
        <a class="brand-link" href="">
            <span class="brand-icon oi oi-book" aria-hidden="true"></span>
            BookRegistry
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass nav-content" @onclick="ToggleNavMenu">
        <nav class="nav-links">

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="books">
                            <span class="oi oi-book" aria-hidden="true"></span> Livros
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <button class="nav-link btn btn-link text-white text-decoration-none" @onclick="Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Sair
                        </button>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Entrar
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="register">
                            <span class="oi oi-plus" aria-hidden="true"></span> Registrar
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@using BookRegistry.Client.Auth
@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.LocalStorage

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Inject] AuthenticationStateProvider AuthStateProvider { get; set; } = default!;
    [Inject] NavigationManager NavigationManager { get; set; } = default!;
    [Inject] ILocalStorageService LocalStorage { get; set; } = default!;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        ((CustomAuthenticationStateProvider)AuthStateProvider).NotifyUserLogout();
        NavigationManager.NavigateTo("/");
    }
}
